{% load static %}
<link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- bootstrap theme -->
<link href="{% static 'core/css/bootstrap-theme.css' %}" rel="stylesheet">
<!--external css-->
<!-- font icon -->
<link href="{% static 'core/css/elegant-icons-style.css' %}" rel="stylesheet" />
<link href="{% static 'core/css/font-awesome.min.css' %}" rel="stylesheet" />
<!-- full calendar css-->
<link href="{% static 'core/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css' %}" rel="stylesheet" />
<link href="assets/fullcalendar/fullcalendar/fullcalendar.css' %}" rel="stylesheet" />
<!-- easy pie chart-->
<link href="{% static 'core/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css' %}" rel="stylesheet" type="text/css" media="screen" />
<!-- owl carousel -->
<link rel="stylesheet" href="{% static 'core/css/owl.carousel.css' %}" type="text/css">
<link href="{% static 'core/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
<!-- Custom styles -->
<link rel="stylesheet" href="{% static 'core/css/fullcalendar.css' %}">
<link href="{% static 'core/css/widgets.css' %}" rel="stylesheet">
<link href="{% static 'core/css/style.css' %}" rel="stylesheet">
<link href="{% static 'core/css/style-responsive.css' %}" rel="stylesheet" />
<link href="{% static 'core/css/xcharts.min.css' %}" rel=" stylesheet">
<link href="{% static 'core/css/jquery-ui-1.10.4.min.css' %}" rel="stylesheet">
