{% load static %}
<header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
      </div>

      <!--logo start-->
      <a href="index.html" class="logo">Kubelik <span class="lite">Admin</span></a>
      <!--logo end-->

      <div class="nav search-row" id="top_menu">
        <!--  search form start -->
        <ul class="nav top-menu">
          <li>
            <form class="navbar-form">
              <input class="form-control" placeholder="Search" type="text">
            </form>
          </li>
        </ul>
        <!--  search form end -->
      </div>

      <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">

          <!-- user login dropdown start-->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                {% if profile.avatar %}
                                  <img alt="Avatar" height="30" src="{{profile.avatar.url}}">
                                {% else %}
                                  <img alt="Avatar" height="30" src="{% static 'registration/img/no-avatar.jpg' %}">
                                {% endif %}
                            </span>
                            <span class="username">
                              {% if request.user.is_authenticated %}
                                <b>{{ user.get_username }}</b>
                              {% endif %}
                            </span>
                            <b class="caret"></b>
                        </a>
            <ul class="dropdown-menu extended logout">
              <div class="log-arrow-up"></div>
              {% if request.user.is_authenticated %}
                <li>
                  <a href="{% url 'logout' %}"><i class="icon_clock_alt"></i> Salir</a>
                </li>
                <li>
                  <a href="{% url 'messenger:list' %}"><i class="icon_mail_alt"></i> Mensajes</a>
                </li>
                <li class="eborder-top">
                  <a href="{% url 'profile' %}"><i class="icon_profile"></i> Perfil</a>
                </li>
              {% else %}
                <li>
                  <a href="{% url 'signup' %}"><i class="icon_chat_alt"></i> Registro</a>
                </li>
                <li>
                  <a href="{% url 'login' %}"><i class="icon_key_alt"></i> Acceder</a>
                </li>
              {% endif %}
            </ul>
          </li>
          <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
      </div>
    </header>
    <!--header end-->