{% extends "admin/change_list.html" %}

{% load i18n %}
{% load tz %}
{% load humanize %}

{% block content_title %}
    <h1>{% trans 'Resumen de Ventas' %}</h1>
{% endblock %}


{% block result_list %}

    <div class="results">
    <table>
        <thead>
            <tr>
                <th> <div class="text"> <a href="#">Fecha </a> </div> </th>
                <th> <div class="text"> <a href="#">Cant. Ventas </a> </div> </th>
                <th> <div class="text"> <a href="#">Total Ventas ($) </a> </div> </th>
                <th> <div class="text"> <a href="#">Inicio de caja ($) </a> </div> </th>
                <th> <div class="text"> <a href="#"><strong>Gastos ($)</strong></a> </div> </th>
                <th> <div class="text"> <a href="#"><strong>Ganancias</strong></a> </div> </th>
            </tr>
        </thead>
        <tbody>
            <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
                <td> Total </td>
                <td> {{ summary_total.total }} </td>
                <td> {{ summary_total.total_sales | floatformat:2 | default:0 }} </td>
                <td> {{ summary_total.total_gastos | floatformat:2 | default:0 }} </td>
                <td> {{ summary_total.neto | floatformat:2 | default:0 }} </td>
                <td> {{ summary_total.neto | floatformat:2 | default:0 }} </td>
            </tr>
            <tr>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
            </tr>
            {% for row in summary %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ row.date_sale }} </td>
                <td> {{ row.total | default:0 }} </td>
                <td> {{ row.total_sales | floatformat:2 | default:0 }} </td>
                <td> {{ row.inicio_caja | floatformat:2 | default:0 }} </td>
                <td> {{ row.gasto | floatformat:2 | default:0 }} </td>
                <td> {{ row.ganancia | floatformat:2 | default:0 }} </td>
                <!--<td><strong> {% widthratio row.total_sales summary_total.total_sales 100 %} </strong> </td>-->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block pagination %}{% endblock %}