{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}Restablecimiento de contraseña completado{% endblock %}
{% block content %}
<section id="main-content">
  <section class="wrapper">
      <div class="row"> 
        <section class="panel">
          <header class="panel-heading">
            <div class="panel panel-success">
              <div class="panel-heading">Restablecimiento de contraseña completado</div>
              <div class="panel-content">
                <p>Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
                <p><a href="{% url 'login' %}">Iniciar sesión</a></p> 
              </div>
            </div>
          </header>
        </section>
      </div>
  </section>
</section>
{% endblock %}