{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}Contraseña cambiada correctamente{% endblock %}
{% block content %}
<section id="main-content">
  <section class="wrapper">
    <form class="form-horizontal" action="" method="post">{% csrf_token %}
      <div class="row"> 
        <section class="panel">
          <header class="panel-heading">
            <div class="panel panel-success">
              <div class="panel-heading">
                Contraseña actualizada exitosamente.
              </div>
            </div>
          </header>
          <div class="panel-body">
            <p>Puedes volver a tu perfil haciendo clic <a href="{% url 'profile' %}">aquí</a>.</p>
          </div>
        </section>
      </div>
    </form>
  </section>
</section>
{% endblock %}

