{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<section id="main-content">
  <section class="wrapper">
    <form class="form-horizontal" action="" method="post">{% csrf_token %}
      <div class="row"> 
        <section class="panel">
          <header class="panel-heading">
            Restablecer contraseña
            <p>¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</p>
          </header>
          <div class="panel-body">
            <div class="form-group">
              <label class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <p class="help-block">{{form.email.errors}}</p>
                <input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Introduce tu email"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <input class="btn btn-primary" type="submit" value="Confirmar">
              </div>
            </div>    
          </div>
        </section>
      </div>
    </form>
  </section>
</section>
{% endblock %}