{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}Escriba la nueva contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<section id="main-content">
  <section class="wrapper">
     {% if validlink %}
      <form class="form-horizontal" action="" method="post">{% csrf_token %}
        <div class="row"> 
          <section class="panel">
            <header class="panel-heading">
              Escriba la nueva contraseña
              <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
            </header>
            <div class="panel-body">
              <div class="form-group">
                <label class="col-sm-2 control-label">Contraseña nueva</label>
                <div class="col-sm-10">
                  <p class="help-block">{{form.new_password1.errors}}</p>
                  <input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Introduce la nueva contraseña">
                </div>
              </div> 
              <div class="form-group">
                <label class="col-sm-2 control-label">Repetir contraseña</label>
                <div class="col-sm-10">
                  <p class="help-block">{{form.new_password2.errors}}</p>
                  <input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repite la nueva contraseña">
                </div>
              </div> 
              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <input class="btn btn-primary" type="submit" value="Cambiar mi contraseña">
                </div>
              </div>    
            </div>
          </section>
        </div>
      </form>
    {% else %}
      <header class="panel-heading">
        <div class="panel panel-danger">
          <div class="panel-heading">Restablecimiento de contraseñas fallido</div>
          <div class="panel-content">
            El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.
          </div>
        </div>
      </header>
    {% endif %}
  </section>
</section>
{% endblock %}